@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html {
  font-family: 'Lato', sans-serif;
}
@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    color: white !important;
    background: transparent !important;
    transition: background 50000s ease-in, color 50000s ease-in;
  }

  * {
    box-sizing: border-box;
  }
  html {
    @apply overflow-x-hidden text-base;
  }
  body {
    @apply text-black bg-[#0f2327] !font-roboto !p-0;
  }
  p {
    @apply leading-6;
  }

  .font-76 {
    @apply text-76 font-semibold;
  }
  .font-46 {
    @apply text-46;
  }
  .font-36 {
    @apply text-36;
  }
  .font-26 {
    @apply text-26;
  }
  .font-22 {
    @apply text-22;
  }
  .font-20 {
    @apply text-20;
  }
  .font-18 {
    @apply text-18;
  }
  .font-16 {
    @apply text-16;
  }
}

@layer components {
  /* .form-input {
    @apply bg-primary-600 h-[60px] text-primary-900 px-[30px] py-[24px] rounded-20 right-0 outline-0 focus:outline-0 ring-0 focus:ring-0;
  } */
  .ax-center {
    @apply absolute left-1/2 -translate-x-1/2;
  }
  .ay-center {
    @apply absolute top-1/2 -translate-y-1/2;
  }
  .a-center {
    @apply absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .btn {
    @apply text-22 text-white  font-medium py-3 px-8 min-w-[100px] h-[60px] gap-4 flex-center;
  }
  .btn-primary {
    @apply bg-primary-400;
  }
  .btn-secondary {
    @apply bg-primary-300;
  }
  .btn-outline-white {
    @apply border border-white;
  }
  .input-error {
    @apply border-red-500;
  }
  .form-input {
    @apply border border-black outline-none  text-12 px-2 py-2 w-full;
  }
  .form-label {
    @apply font-medium;
  }
  .form-div {
    @apply flex  flex-col;
  }
  .form-error {
    @apply text-red-500 border-red-700 border-2 text-14;
  }
  .error-message {
    @apply text-red-500 text-14;
  }
  .bet-btn {
    @apply h-[42px] min-w-[56px] md:min-w-[60px] w-[56px] md:w-[60px] border border-[#ddd] text-12;
  }
  .form-eror {
    @apply text-12 md:text-14 text-red-700;
  }
}

@layer utilities {
}

.react {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 250px;
  margin-top: -125px;
  margin-left: -125px;
  cursor: 'pointer';
}

#notif {
  visibility: hidden;
  position: fixed;
  color: white;
  border-radius: 10px;
  top: 0;
  right: 0;
  transform: translate(-15px, 15px);
  border-radius: 10px;
  overflow: hidden;
}

.notif-text-icon {
  align-items: stretch;
  box-shadow: 0 1px 1px rgb(10 10 10 / 10%);
  display: flex;
  max-width: 250px;
}

.notif-message {
  align-items: center;
  display: flex;
  flex-grow: 1;
  font-weight: 700;
  padding: 15px 25px;
}

#notif.show {
  visibility: visible;
  animation: show 0.5s forwards;
}

@keyframes show {
  0% {
    transform: translate(-15px, 15px) scale(0);
  }

  50% {
    transform: translate(-15px, 15px) scale(1.2);
  }

  70% {
    transform: translate(-15px, 15px) scale(0.9);
  }

  100% {
    transform: translate(-15px, 15px) scale(1);
  }
}

.light-bg {
  background: url(/public/images/lightBg.jpg);
}

.swiper-button-next {
  background-color: white;
  color: #000; /* Customize button color */
  border-radius: 10px;
  padding: 4px;
}

.swiper-button-prev {
  background-color: white;
  border-radius: 10px;
  padding: 4px;
  color: #000; /* Customize button color */
}

.sport-menu__link {
  padding: 0;
  margin-left: 13px;
  text-transform: uppercase;
  font-weight: 600;
  color: #3e0f54;
  font-size: 12px;
}

body {
  background: url(/public/images/lightBg.jpg);
}

.ball-running-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 1px);
  background: #fff;
  color: #000;
  text-align: center;
  z-index: 1;
  opacity: 0.85;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 12px;
}

.data-table table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
  background-color: white;
}

.data-table th,
.data-table td {
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 3.2px;
  padding-top: 3.2px;
  text-align: left;
  border: 0.5px solid #000;
}

.data-table th {
  background-color: #8f8f8f;
  color: white;
  font-weight: bold;
}

.pagination-item-style a,
.disabled-item a {
  @apply w-full h-full flex-center px-4 py-1 bg-white text-gray-500;
}

.pagination-item-style.active a {
  @apply bg-white text-black font-bold;
}

.pagination-item-style a:hover {
  @apply bg-white text-black;
}

.pagination-item-style.prev a {
  @apply rounded-l-md text-black;
}

.pagination-item-style.prev a:hover {
  @apply bg-white text-black;
}
.pagination-item-style.next a:hover {
  @apply bg-white text-black;
}

.pagination-item-style.next a {
  @apply rounded-r-md text-black;
}

.pagination-item-style.prev.disabled-item {
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

.pagination-item-style.next.disabled-item {
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0f2327;
  border-radius: 10px;
}

.slider-bg-mob {
  flex: 1 0 21%;
  margin: 30px 3px 10px;
  background-color: #201e1e66;
  background-image: radial-gradient(
      at 1% 98%,
      hsla(240, 100%, 70%, 0.31) 0,
      transparent 50%
    ),
    radial-gradient(at 100% 0%, hsla(310, 81%, 60%, 0.26) 0, transparent 50%);
  padding-bottom: 12px;
  border-radius: 10px;
  text-decoration: none;
  position: relative;
}

.slider-bg-mob-div {
  padding: 0 2px;
  background-color: #c2c2c273;
  background-image: radial-gradient(
      at 8% 76%,
      hsla(323, 81%, 71%, 0.2) 0,
      transparent 50%
    ),
    radial-gradient(at 67% 84%, hsla(120, 41%, 47%, 0.21) 0, transparent 50%),
    radial-gradient(at 83% 26%, hsla(61, 69%, 70%, 0.38) 0, transparent 50%);
  position: relative;
}

.slider-bg-mob-div::-webkit-scrollbar {
  display: none;
}
.slider-casino::-webkit-scrollbar {
  display: none;
}
.parara {
  animation: dd 10s infinite ease-in-out;
}

@keyframes dd {
  0% {
    transform: translate(0);
    left: 0%;
  }
  25% {
    transform: translate(-20%);
    left: 20%;
  }
  50% {
    transform: translate(0%);
    left: 0%;
  }
  75% {
    transform: translate(20%);
    right: 20%;
  }

  100% {
    transform: translate(0%);
    right: 0%;
  }
}

.example::-webkit-scrollbar {
  display: none;
}

.watermark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.2; /* Semi-transparent */
  font-size: 48px;
  color: white;
  pointer-events: none; /* Ensure the watermark doesn't interfere with user interaction */
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-animation {
  animation: spin 2s linear infinite;
}
iframe {
  background-color: #fff; /* Or any color matching the iframe's background */
  object-fit: cover;
}

.from-date .react-datepicker-popper {
  /* transform: translate(0.5px, 136px) !important; */
  margin-left: 40px !important;
}
.react-datepicker-popper {
  z-index: 1050;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.signUpNew-separator-rightLine {
  background: linear-gradient(45deg, transparent, #fff);
  height: 1px;
  width: 32%;
  transform: rotate(0.35deg);
}
.signUpNew-separator-leftLine {
  background: linear-gradient(45deg, #fff, transparent);
  height: 1px;
  width: 32%;
  transform: rotate(0.35deg);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.css-j400xw-MuiPaper-root-MuiDrawer-paper::-webkit-scrollbar {
  display: none;
}

.css-j400xw-MuiPaper-root-MuiDrawer-paper::-webkit-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
  background-color: transparent !important;
}

.rightS-svg {
  filter: brightness(0) saturate(100%) invert(30%) sepia(3%) saturate(4313%)
    hue-rotate(115deg) brightness(114%) contrast(114%) !important;
}

.react-datepicker-wrapper {
  width: 100% !important;
}

.css-byenzh-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked
  + .MuiSwitch-track {
  background-color: #1e8067 !important;
}

#egamings_container {
  height: 100vh !important;
}
